{% extends "layout/base.html" %}

{% block title %} | Login {% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
  <div class="col-11 d-flex flex-row justify-content-center align-items-center pt-5 pt-sm-0">
    <div class="d-none d-sm-block col-sm-4 me-sm-5 d-flex justify-content-center align-items-center">
      <img class="col-10" src="{{ url_for('static', filename='images/sign_in.svg') }}" height="400px">
    </div>
    <div class="col-11 col-sm-5 ms-sm-5">
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          <div class="w-100 alert alert-{{ messages[0][0] }}">
            {{ messages[0][1] }}
          </div>
        {% endif %}
      {% endwith %}
      <form class="d-flex flex-column justify-content-center align-items-center fw-semibold" action="{{ url_for('auth.login') }}" method="POST">
        <div class="mb-2 w-100">
          <label for="input-email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="input-email" name="email" required>
        </div>
        <div class="mb-2 w-100">
          <label for="input-password" class="form-label">Password</label>
          <input type="password" class="form-control" id="input-password" name="password" required>
        </div>
        <div class="mb-2 form-check">
          <input type="checkbox" class="form-check-input" id="remember-me" name="remember">
          <label class="form-check-label" for="remember-me">Remember me</label>
        </div>
        <button type="submit" class="btn btn-dark w-100 fw-bold border-2 border-dark">Login</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
