{% extends "layout/app.html" %}

{% block title %} | Journal {% endblock %}

{% block content %}
<div class="ps-sm-3 pb-5">
  <h3 class="fw-bold my-3">Rejournal Publications</h3>
  <div class="col-12 col-md-11 mb-4 d-flex flex-column flex-md-row align-items-center justify-content-between">
    <div class="col-12 col-md-7">
      <input id="searchJournal" class="form-control" type="text" placeholder="Search Your Journal...">
    </div>
    <div class="col-12 col-md-4">
      <select id="filterJournalByYear" class="form-select">
        <option selected>All</option>
        {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% if journals|length == 0 %}
  <div class="col-12 col-md-11 d-flex flex-column align-items-center justify-content-center">
    <img class="col-9 col-md-4 mt-5" src="{{ url_for('static', filename='images/nothing.svg') }}">
    <h4 class="fw-semibold mt-4">No Published Journal</h4>
  </div>
  {% endif %}
  <div id="myJournals" class="col-12 col-md-11">
    {% for journal in journals %}
    <div style="border-radius: 16px;" class="journal border border-1 px-3 py-2 my-3">
      <p id="title" class="fs-4 fw-bold mb-1">{{ journal.title }}</p>
      <p id="year" style="font-size: medium;" class="fw-semibold me-2 mb-0">Publication Year: <span>{{ publication_year[loop.index0] }}</span></p>
      <div class="d-flex align-items-center flex-row flex-wrap">
        <p style="font-size: medium;" class="fw-semibold me-2 mb-0">Author: </p>
        {% for author in journal.author %}
        <p style="font-size: medium;" class="fw-semibold me-2 mb-0">
          [{{ loop.index0 + 1 }}]
          <span><a href="mailto:{{ author.email }}" class="mb-0 text-decoration-none">{{ author.name }}</a></span>
        </p>
        {% endfor %}
      </div>
      <div class="d-flex align-items-center mt-2">
        <a href="{{ url_for('base.view_publication_detail', id=journal.id) }}" type="button" class="btn btn-primary btn-sm fw-semibold ms-auto"><i class="bi bi-file-earmark"></i> View Detail</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $("#searchJournal").on("keyup", function() {
      var search = $(this).val().toLowerCase();
      $("#myJournals div.journal").filter(function() {
        $(this).toggle($(this).find("#title").text().toLowerCase().indexOf(search) > -1);
        return;
      });
    });

    $("#filterJournalByYear").on("change", function() {
      var filter = $(this).children("option:selected").text().toLowerCase();
      $("#myJournals div.journal").filter(function() {
        if(filter === 'all') {
          $(this).toggle(true);
        } else {
          $(this).toggle($(this).find("#year span").text().toLowerCase() === filter);
        }
      });
    });
  });
</script>
{% endblock  %}
