{% extends "layout/app.html" %}

{% block title %} | Journal {% endblock %}

{% block content %}
<div class="ps-sm-3 pb-5">
  <h3 class="fw-bold my-3">My Journals</h3>
  <div class="col-12 col-md-11 mb-4 d-flex flex-column flex-md-row align-items-center justify-content-between">
    <div class="col-12 col-md-7">
      <input id="searchJournal" class="form-control" type="text" placeholder="Search Your Journal...">
    </div>
    <div class="col-12 col-md-4">
      <select id="filterJournal" class="form-select">
        {% for status in statuses %}
        <option value="{{ status.id }}">{{ status.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div id="myJournals" class="col-12 col-md-11">
    {% for journal in journals %}
    <div style="border-radius: 16px;" class="border border-1 px-3 py-2 my-3">
      <p id="title" class="fs-4 fw-bold mb-1">{{ journal.title }}</p>
      <div class="d-flex align-items-center flex-row flex-wrap">
        <p style="font-size: medium;" class="fw-semibold me-2 mb-0">Author: </p>
        {% for author in journal.author %}
        <p style="font-size: medium;" class="fw-semibold me-2 mb-0">
          [{{ loop.index0 + 1 }}]
          <span><a href="mailto:{{ author.email }}" class="mb-0 text-decoration-none">{{ author.name }}</a></span>
        </p>
        {% endfor %}
      </div>
      <p id="status" style="font-size: medium;" class="fw-semibold me-2 mb-0">Status: <span class="{{ journal.journal_log.status.color }}">{{ journal.journal_log.status.name }}</span></p>
      <p style="font-size: medium;" class="fw-semibold me-2 mb-0">Last updated: <span class="text-secondary">{{ journal.journal_log.timestamp }}</span></p>
      <div class="d-flex align-items-center mt-2">
        <a href="{{ url_for('home.journal_download', filename=journal.journal_path) }}" target="_blank" type="button" class="btn btn-sm fw-semibold me-2 ms-auto text-primary"><i class="bi bi-download"></i> Download File</a>
        <a href="{{ url_for('home.journal_view_detail', id=journal.id) }}" type="button" class="btn btn-primary btn-sm fw-semibold me-2"><i class="bi bi-file-earmark"></i> View Detail</a>
        <a href="{{ url_for('home.journal_update', id=journal.id) }}" type="button" class="btn btn-warning btn-sm fw-semibold me-2"><i class="bi bi-pencil-square"></i> Edit</a>
        <button class="btn btn-danger btn-sm fw-semibold" data-bs-toggle="modal" data-bs-target="#deleteJournal{{ journal.id }}"><i class="bi bi-trash-fill"></i> Delete</button>
      </div>
    </div>

    <!-- Delete Journal Modal -->
    <div id="deleteJournal{{ journal.id }}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title fw-bold">Delete Journal</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('home.journal_delete') }}" method="POST">
              <input type="hidden" class="form-control" id="input-id" name="id" value="{{ journal.id }}" required>
              <div>
                <label class="form-label fw-semibold">Are you sure to delete this journal with title "{{ journal.title }}"?</label>
              </div>
              <div class="mb-2 mt-4 w-100">
                <button class="btn btn-danger w-100 fw-bold" type="submit">Confirm</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $("#searchJournal").on("keyup", function() {
      var search = $(this).val().toLowerCase();
      $("#myJournals div").filter(function() {
        $(this).toggle($(this).find("#title").text().toLowerCase().indexOf(search) > -1)
      });
    });

    $("#filterJournal").on("change", function() {
      var filter = $(this).children("option:selected").text().toLowerCase();
      console.log(filter);
      $("#myJournals div").filter(function() {
        console.log($(this).find("#status span").text().toLowerCase());
        $(this).toggle($(this).find("#status span").text().toLowerCase() === filter);
      });
    });
  });
</script>
{% endblock  %}
