{% extends "layout/app.html" %}

{% block title %} | Journal {% endblock %}

{% block content %}
<div class="ps-sm-3 pb-5">
  <h3 class="fw-bold my-3">Handled Manuscripts</h3>
  <div class="col-12 col-md-11 mb-4 d-flex flex-column flex-md-row align-items-center justify-content-between">
    <div class="col-12 col-md-7">
      <input id="searchManuscript" class="form-control" type="text" placeholder="Search Manuscript...">
    </div>
    <div class="col-12 col-md-4">
      <select id="filterManuscriptByStatus" class="form-select">
        <option selected>All</option>
        {% for status in statuses %}
        <option value="{{ status.id }}">{{ status.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% if manuscripts|length == 0 %}
  <div class="col-12 col-md-11 d-flex flex-column align-items-center justify-content-center">
    <img class="col-9 col-md-4 mt-5" src="{{ url_for('static', filename='images/nothing.svg') }}">
    <h4 class="fw-semibold mt-4">No Manuscript Handled</h4>
  </div>
  {% endif %}
  <div id="myManuscripts" class="col-12 col-md-11">
    {% for manuscript in manuscripts %}
    <div style="border-radius: 16px;" class="manuscript border border-1 px-3 py-2 my-3">
      <p id="title" class="fs-4 fw-bold mb-1">{{ manuscript.title }}</p>
      <div class="d-flex align-items-center flex-row flex-wrap">
        <p style="font-size: medium;" class="fw-semibold me-2 mb-0">Author: </p>
        {% for author in manuscript.author %}
        <p style="font-size: medium;" class="fw-semibold me-2 mb-0">
          [{{ loop.index0 + 1 }}]
          <span><a href="mailto:{{ author.email }}" class="mb-0 text-decoration-none">{{ author.name }}</a></span>
        </p>
        {% endfor %}
      </div>
      <p id="topic" style="font-size: medium;" class="fw-semibold me-2 mb-0">Status: <span class="{{ manuscript.journal_log.status.color }}">{{ manuscript.journal_log.status.name }}</span></span></p>
      <p style="font-size: medium;" class="fw-semibold me-2 mb-0">Last updated: <span class="text-secondary">{{ manuscript.journal_log.timestamp }}</span></p>
      <div class="d-flex align-items-center mt-2">
        <a href="{{ url_for('reviewer.manuscript_download', filename=manuscript.journal_path) }}" target="_blank" type="button" class="btn btn-sm fw-semibold me-2 ms-auto text-primary"><i class="bi bi-download"></i> Download File</a>
        <form action="{{ url_for('reviewer.manuscript_view_detail', id=manuscript.id) }}" method="POST">
          <input type="hidden" name="path" value="{{ request.endpoint }}">
          <input type="hidden" name="breadcrumb" value="Handled Manuscripts">
          <button type="submit" class="btn btn-primary btn-sm fw-semibold"><i class="bi bi-file-earmark"></i> View Detail</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $("#searchManuscript").on("keyup", function() {
      var search = $(this).val().toLowerCase();
      $("#myManuscripts div.manuscript").filter(function() {
        $(this).toggle($(this).find("#title").text().toLowerCase().indexOf(search) > -1)
      });
    });

    $("#filterManuscriptByStatus").on("change", function() {
      var filter = $(this).children("option:selected").text().toLowerCase();
      $("#myManuscripts div.manuscript").filter(function() {
        if(filter === 'all') {
          $(this).toggle(true);
        } else {
          $(this).toggle($(this).find("#topic span").text().toLowerCase() === filter);
        }
      });
    });
  });
</script>
{% endblock  %}
