{% extends "layout/app.html" %}

{% block title %} | {{ role }} {% endblock %}

{% block content %}
<div class="ps-sm-3 d-flex flex-column align-items-center align-items-md-start">
  <h3 class="fw-bold mt-3">Hello, {{ current_user.name }}</h3>
  <div class="col-11 mt-4">
    <div class="col-12 d-flex flex-column flex-md-row justify-content-md-between">
      <div class="card text-white bg-primary mb-3 d-flex me-3 flex-grow-1 card-width">
        <div class="card-header fs-4 fw-bold"><i class="fs-4 bi-file-earmark-person-fill"></i> Applicants</div>
        <div class="card-body py-0 d-flex flex-row align-items-end">
          <p class="mb-0 fw-semibold" style="font-size: 64px;">10</p>
          <p class="fs-6 fw-bold pb-2 ms-2">applicants</p>
        </div>
      </div>
      <div class="card text-white bg-success mb-3 d-flex me-3 flex-grow-1 card-width">
        <div class="card-header fs-4 fw-bold"><i class="fs-4 fs-5 bi-files"></i> Manuscripts</div>
        <div class="card-body py-0 d-flex flex-row align-items-end">
          <p class="mb-0 fw-semibold" style="font-size: 64px;">10</p>
          <p class="fs-6 fw-bold pb-2 ms-2">manuscripts</p>
        </div>
      </div>
      <div class="card text-white bg-danger mb-3 d-flex me-3 flex-grow-1 card-width">
        <div class="card-header fs-4 fw-bold"><i class="fs-4 fs-5 bi-journals"></i> Published</div>
        <div class="card-body py-0 d-flex flex-row align-items-end">
          <p class="mb-0 fw-semibold" style="font-size: 64px;">10</p>
          <p class="fs-6 fw-bold pb-2 ms-2">jounals</p>
        </div>
      </div>
      <div class="card text-dark bg-warning mb-3 d-flex flex-grow-1 card-width">
        <div class="card-header fs-4 fw-bold"><i class="fs-4 fs-5 bi-tags-fill"></i> Topics</div>
        <div class="card-body py-0 d-flex flex-row align-items-end">
          <p class="mb-0 fw-semibold" style="font-size: 64px;">{{ metrics['topic'] }}</p>
          <p class="fs-6 fw-bold pb-2 ms-2">topics</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
